.header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    background-color: #26a69a;
    position: sticky;
    top: 0;
    z-index: 9999;

}

.header img {
    width: 250px;
}

.loginBlock{
    text-decoration: none;
    color: white;
}

.button{
    height: 20px;
}
