.app {
}

.app-wrapper-main{
    padding: 0 10% 0 10%;

}

.app-main{
    min-height: 92.9vh;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 5fr



}

.app-wrapper-content{
    background-color: #f5f5f5;
}

